* {
    box-sizing: border-box;
}

.blog-box{
    width: 1000px;
    border: 5px solid #000;
    padding: 15px;
}

.write-box{
    display:inline-block;
    width: 73%;
    margin: 5px;
}

.pic-box{
    display:inline-block;
    width: 23%;
    margin: 5px;
    border: 1px solid #888;
    vertical-align: top;
    padding-left: 0px;
}

.blog-thumbnail{
    width: 100%;
    vertical-align: center;
}

.writer-info{
    width:78%;
    height:23%;
    vertical-align:top;
}
.blog-title{
    height:23%;
    width: 70%;
}
.writer{

}
.writer-name{
    width:33%;
    color:#333;
    font-weight: 100 bold;
    vertical-align: top;
}
.write-date{
    width:57%;
    color:#666;
    font-weight: 150;
    vertical-align: bottom;  
}