* {
  box-sizing: border-box;
}

.naver-box {
  width: 756px;
  background-color: #f3f3f3;
  border: 1px solid #888;
  border-radius: 7px;
  padding: 15px;
}



.channel-list {
  /*UL에 적용된 패딩을 제거한다.*/
  padding: 0;
  /*UL에 적용된 마진을 제거한다.*/
  margin: 0;
}

.channel {
  display: inline-block;
  width: 31%;
  text-align: center;
  margin: 0 15px 0 0;
}

.game-title{
    color:#3f2bf2;
    font-weight: 600;
    text-align: left;
    margin:0;
    margin:5px 0 5px 0;
}

.broadcast-title{
    color: #333;
    font-weight:600;
    text-align:left;
    margin:5px 0 5px 0;
}

.channel-name{
    color:#666;
    font-weight: 500;
    text-align: left;
}

.thumbnail{
    width:100%
}

/*coupang*/
.coupang-box{
    width: 700px;
    border: 1px solid #888;
    padding: 15px;
    margin-bottom: 300pc;
  }

.product-list {
    padding: 0;
    margin: 0;
  }

.half-box{
    display: inline-block;
    width: 47%;
    margin: 0 15px 15px 0;
    border: 1px solid #888;
}

.quarter-box{
    display: inline-block;
    width: 22.3%;
    margin: 0 15px 15px 0;
    border: 1px solid #888;
}

.product-image{
    width:100%;
}
