* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #333;
}

.wrapper {
    width: 31.25rem;
    margin: 0 auto;
    padding: 0.625rem;
}

.wrapper label {
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0.625rem;
}

.wrapper > div:first-child > label {
    font-size: 1.3rem;
}

.wrapper > div > div {
    padding: 0.625rem;
    margin-left: 2rem;
    border: 1px solid #888;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    overflow: auto;
    max-height: 6.25rem;
}

.wrapper .privarcy-title {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    max-height: 100%;
    border: 0;
}

.wrapper .privarcy-title > div:first-child {
    display: inline-block;
}

.wrapper .privarcy-title > div:last-child {
    display: inline-block;
    width: 43%;
    text-align: right;
    font-size: 0.65rem;
}

.wrapper .privarcy-title > div:last-child > a {
    padding: 0.4rem;
    border: 1px solid #aaa;
    border-radius: 1.3rem;
}

#privarcy2 ~ div {
    /* id 가 privarcy2 인 인접형제중에서 div를 찾아와라
    id는 문서내에서 유일한 값을 가지기 때문에 한번에 접근한다. */
    border: 0;
    padding: 0;
}

#privarcy2 ~ div > label {
    padding: 0;
    font-weight: 300;
}

.wrapper > div:last-child > button {
    display: block;
    width: 100%;
    padding: 0.625rem;
    background-color: #8990a0;
    border: 0;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    color: #fff;
    margin-top: 1rem;
}

.require{
    color:#08c008;
    font-weight: 900;
}

.optional{
    color: #ccc;
    font-weight: 900;
}

.link{
    font-size:0.6rem;
    color:#ccc;
    text-decoration: none;
}

.children{
    text-decoration: none;
    color:#333;
    font-weight: 900;
}

input[type="checkbox"]{
    appearance:none;
    width:1.5rem;
    height:1.5rem;
    background-color: #aaa;
    border:1px solid #888;
    border-radius: 50%;
    background-image: url("naver_sprite.png");
    background-position: -903px -787px;
    vertical-align: middle;
}

input[type="checkbox"]:checked{
    background-color: #08c008;
    border: 1px solid #08c008;
}
.regist-wrapper {
    width: 31.25rem;
    margin: 0 auto;
    padding: 0.625rem;
  }
  
  .regist-wrapper > div:first-child {
    text-align: right;
    font-size: 0.8rem;
  }
  
  .regist-wrapper > div:first-child > input[type="checkbox"] {
    width: 2.3rem;
    height: 2.3rem;
    background-color: #fff;
    border: 0;
    background-image: url("naver_regist_sprite.png");
    background-repeat: none;
    background-position: -685px -497px;
  }
  
.regist-wrapper > div:first-child > input[type="checkbox"]:checked {
   background-position: -685px -541px;
 }
  
.regist-wrapper > div:nth-child(2) > input[type="text"] {
  width: 70%;
  padding: 0.625rem;
  outline: 0;
  border: 0;
}

.regist-wrapper > div:nth-child(3) > input[type="password"] {
    width: 70%;
    padding: 0.625rem;
    outline: 0;
    border: 0;
}

.regist-wrapper > div:nth-child(4) > input[type="email"] {
    width: 70%;
    padding: 0.625rem;
    outline: 0;
    border: 0;
}
.regist-wrapper > div:nth-child(2) {
  border: 1px solid #00c008;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
  
  .regist-wrapper > div:nth-child(2)::before {
    content: "";
    vertical-align: middle;
    background-image: url("naver_regist_sprite.png");
    background-repeat: no-repeat;
    background-position: -695px -140px;
    display: inline-block;
    width: 2.3rem;
    height: 2.3rem;
  }
  .regist-wrapper > div:nth-child(4)::before {
    content: "";
    vertical-align: middle;
    background-image: url("naver_regist_sprite.png");
    background-repeat: no-repeat;
    background-position: -203px -602px;
    display: inline-block;
    width: 2.3rem;
    height: 2.3rem;
  }

  .regist-wrapper > div:nth-child(3)::before {
    content: "";
    vertical-align: middle;
    background-image: url("naver_regist_sprite.png");
    background-repeat: no-repeat;
    background-position: -632px -12px;
    display: inline-block;
    width: 2.3rem;
    height: 2.3rem;
  }
  
  .regist-wrapper > div:nth-child(2)::after {
    content: "@naver.com";
  }
  
  .regist-wrapper > div:nth-child(3),
  .regist-wrapper > div:nth-child(4),
  .regist-wrapper > div:nth-child(5) {
    border: 1px solid #00c008;
    border-top: 0px;
  }
  
  .regist-wrapper > div:nth-child(5) {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-align: center;
    padding: 0.625rem;
    font-size: 0rem;
  }
  

  .regist-wrapper > div:nth-child(3) > input[type="checkbox"] {
    vertical-align: middle;
    background-color: #fff;
    background-image: url("naver_regist_sprite.png");
    background-repeat: no-repeat;
    background-position: -524px -538px;
    border-radius: 0;
    border: 0;
    display: inline-block;
    width: 2.3rem;
    height: 2.3rem;
  }
  
  .regist-wrapper > div:nth-child(3) > input[type="checkbox"]:checked {
    background-position: -524px -602px;
  }

.regist-wrapper > div:nth-child(5) > input[type="radio"]{
    display: none;
}

.regist-wrapper > div:last-child > input[type="radio"] +label {
    display: inline-block;
    padding: 0.625rem;
    border: 1px solid #08c008;
    color:#08c008;
    width: 6rem;
    text-align: center;
    font-size: 1rem;
    border-right: 0;    
}

.regist-wrapper > div:last-child > input[type="radio"] +label:last-child{
    border-right: 1px solid #08c008;
}

.regist-wrapper > div:last-child > input[type="radio"][name="gender"]:last-of-type +label{
    margin-right: 1rem ;
    border-right: 1px solid #08c008;
}

.regist-wrapper > div:last-child > input[type="radio"][name="gender"]:nth-of-type(2) +label{
    margin-right: 2rem ;
    border-right: 1px solid #08c008;
}

.regist-wrapper > div:nth-child(5) > input[type="radio"] +label {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.regist-wrapper > div:nth-child(5) > input[type="radio"]:nth-of-type(2n) +label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.regist-wrapper > div:nth-child(5) > input[type="radio"]:checked +label {
    color: red;
}